@{
Layout = "~/Views/Shared/_ResultLayout.cshtml";
} 
@model MvcWEB.Models.ShowResultModel 
<div class="info"><h1>Nguyễn Quốc Tâm</h1>
<h3>Điểm: <h2>@Model.mark</h2></h3> 
<h3>Xếp loại: <h2>@Model.quality</h2></h3> 
</div>
<div class="wrongAns">
<h1>Các câu trả lời sai:</h1>
<div class="question">
    <h3>
        <b>
            39. Theo Điều 3, Nghị định số 46/2016/NĐ-CP, quy định về xử phạt các hành vi vi phạm quy định về điều kiện của người điều khiển xe cơ giới, giải thích từ ngữ “xe máy điện” là như thế nào?
        </b>
    </h3>
    <p>
        <input class="checkBox invisible" type="radio" value="v1" name="q39" onclick="traloi[39]='A'">
        a. Là xe gắn máy được dẫn động bằng động cơ điện có công suất lớn nhất không lớn hơn 4 kW, có vận tốc thiết kế lớn nhất không lớn hơn 50 km/h
    </p>
    <p>
        <input class="checkBox invisible" type="radio" value="v2" name="q39" onclick="traloi[39]='B'">
        b. Là xe gắn máy được dẫn động bằng động cơ điện có công suất lớn nhất không lớn hơn 4 kW, có vận tốc thiết kế lớn nhất không nhỏ hơn 50 km/h
    </p>
    <p>
        <input class="checkBox invisible" type="radio" value="v3" name="q39" onclick="traloi[39]='C'">
        c. Là xe gắn máy được dẫn động bằng động cơ điện có công suất lớn nhất lớn hơn 4 kW, có vận tốc thiết kế lớn nhất không nhỏ hơn 50 km/h.
    </p>
    <div id="DapAn39"><h2 class='false'><b>Đáp án : A</b></h2></div>
</div>
</div>
