
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model MvcWEB.Models.ShowResultModel

<h2>Result</h2>
<h3>Điểm: @Model.mark</h3>
<h3>Xếp loại: @Model.quality</h3>

