@{
    ViewBag.Title = "Cấp ủy viên";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2 class="title">Đối tượng Cấp ủy viên</h2>
<div class="question">
    <h3 id="1">
        <b>
            <span>1. </span>
            Đảng ta có bao nhiêu nét truyền thống quý báu?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q1" onclick="traloi[1]='A'">
        A. 4
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q1" onclick="traloi[1]='B'">
        B.  5
        <br />
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q1" onclick="traloi[1]='C'">
        C.  6
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q1" onclick="traloi[1]='D'">
        D.  7
    </p>


    <div id="DapAn1"></div>
</div>
<div class="question">
    <h3 id="2">
        <b>
            <span>2. </span>
            Nét truyền thống quý báu đầu tiên của đảng ta là gì?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q2" onclick="traloi[2]='A'">
        A.  Kiên định Chủ nghĩa Mác – Lênin, tư tưởng Hồ Chí Minh, nắm vững ngọn cờ độc lập dân tộc và chủ nghĩa xã hội.
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q2" onclick="traloi[2]='B'">
        B. Tinh thần độc lập, tự chủ và sáng tạo
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q2" onclick="traloi[2]='C'">
        C. Kiên định nguyên tắc tập trung dân chủ trong tổ chức và hoạt động của đảng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q2" onclick="traloi[2]='D'">
        D.  Bản lĩnh chính trị vững vàng, kiên định mục tiêu lý tưởng cách mạng
    </p>
    <div id="DapAn2"></div>
</div>
<div class="question">
    <h3 id="3">
        <b>
            <span>3. </span>
            Cách mạng Việt Nam đã giành được bao nhiêu thắng lợi vĩ đại dưới sự lãnh đạo của Đảng (thành tựu mang tính khái quát)?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q3" onclick="traloi[3]='A'">
        A. 3
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q3" onclick="traloi[3]='B'">
        B. 4
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q3" onclick="traloi[3]='C'">
        C. 5
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q3" onclick="traloi[3]='D'">
        D. 6
    </p>
    <div id="DapAn3"></div>
</div>
<div class="question">
    <h3 id="4">
        <b>
            <span>4. </span>
            Quy luật thành lập Đảng Cộng sản Việt Nam là gì?
            <br />
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q4" onclick="traloi[4]='A'">
        A.  Chủ nghĩa Mác – Lênin kết hợp với Chủ nghĩa yêu nước
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q4" onclick="traloi[4]='B'">
        B.  Chủ nghĩa Mác – Lênin kết hợp với Phong trào công nhân
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q4" onclick="traloi[4]='C'">
        C.  Chủ nghĩa Mác–Lênin kết hợp với Phong trào công nhân và phong trào yêu nước.
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q4" onclick="traloi[4]='D'">
        D.  Chủ nghĩa Mác – Lê nin kết hợp với Chủ nghĩa yêu nước và phong trào công nhân.
    </p>
    <div id="DapAn4"></div>
</div>
<div class="question">
    <h3 id="5">
        <b>
            <span>5. </span>
            Mục tiêu của cách mạng Việt Nam là gì ?

        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q5" onclick="traloi[5]='A'">
        A. Dân giàu, nước mạnh, dân chủ, công bằng, văn minh
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q5" onclick="traloi[5]='B'">
        B. Độc lập dân tộc gắn liền chủ nghĩa xã hội
        <br />
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q5" onclick="traloi[5]='C'">
        C. Xây dựng nước Việt Nam giàu mạnh
        <br />
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q5" onclick="traloi[5]='D'">
        D. Giải phóng dân tộc
        <br />
    </p>
    <div id="DapAn5"></div>
</div>
<div class="question">
    <h3 id="6">
        <b>
            <span>6. </span>
            Đảng bộ, chi bộ cơ sở thường áp dụng mấy phương thức lãnh đạo cơ bản?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q6" onclick="traloi[6]='A'">
        A. 1
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q6" onclick="traloi[6]='B'">
        B.  2
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q6" onclick="traloi[6]='C'">
        C. 3
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q6" onclick="traloi[6]='D'">
        D. 4
    </p>
    <div id="DapAn6"></div>
</div>
<div class="question">
    <h3 id="7">
        <b>
            <span>7. </span>
            Phương thức lãnh đạo cơ bản đầu tiên mà đảng bộ, chi bộ cơ sở áp dụng là?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q7" onclick="traloi[7]='A'">
        A.Lãnh đạo bằng thuyết phục, nêu gương
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q7" onclick="traloi[7]='B'">
        B. Lãnh đạo bằng nghị quyết
    <p>
        <input class="checkBox" type="radio" value="v3" name="q7" onclick="traloi[7]='C'">
        C. Lãnh đạo bằng tổ chức, cán bộ
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q7" onclick="traloi[7]='D'">
        D. Lãnh đạo bằng kiểm tra, giám sát
        <div id="DapAn7"></div>
</div>
<div class="question">
    <h3 id="8">
        <b>
            <span>8. </span>
            Theo Điều lệ Đảng hiện hành, nguyên tắc tập trung dân chủ có mấy nội dung?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q8" onclick="traloi[8]='A'">
        A. 4
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q8" onclick="traloi[8]='B'">
        B. 5
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q8" onclick="traloi[8]='C'">
        C. 6
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q8" onclick="traloi[8]='D'">
        D. 7
    </p>
    <div id="DapAn8"></div>
</div>
<div class="question">
    <h3 id="9">
        <b>
            <span>9. </span>
            Đảng Cộng sản Việt Nam đóng vai trò như thế nào trong thành công của Cách mạng Việt Nam?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q9" onclick="traloi[9]='A'">
        A.Là nhân tố chủ yếu để cách mạng thành công
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q9" onclick="traloi[9]='B'">
        B. Là nhân tố quan trọng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q9" onclick="traloi[9]='C'">
        C. Là nhân tố chủ yếu
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q9" onclick="traloi[9]='D'">
        D. Là nhân tố hàng đầu quyết định thắng lợi của cách mạng Việt Nam
    </p>
    <div id="DapAn9"></div>
</div>
<div class="question">
    <h3 id="10">
        <b>
            <span>10. </span>
            Đảng Cộng sản Việt Nam mang bản chất giai cấp, tầng lớp nào?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q10" onclick="traloi[10]='A'">    A. Công nhân
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q10" onclick="traloi[10]='B'">        B. Nông dân
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q10" onclick="traloi[10]='C'">        C. Trí thức
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q10" onclick="traloi[10]='D'">        D. Tiểu tư sản
    </p>

    <div id="DapAn10"></div>
</div>
<div class="question">
    <h3 id="11">
        <b>
            <span>11. </span>
            Nguyên tắc tổ chức cơ bản của Đảng Cộng sản Việt Nam là gì?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q11" onclick="traloi[11]='A'">
        A.  Trung thành với Chủ nghĩa Mác – Lênin và tư tưởng Hồ Chí Minh
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q11" onclick="traloi[11]='B'">
        B. Tập trung dân chủ
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q11" onclick="traloi[11]='C'">
        C. Tự phê bình và phê bình
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q11" onclick="traloi[11]='D'">
        D. Tập thể lãnh đạo, cá nhân phụ trách
    </p>
    <div id="DapAn11"></div>
</div>
<div class="question">
    <h3 id="12">
        <b>
            <span>12. </span>
            Đảng Cộng sản Việt Nam có mấy nguyên tắc hoạt động?

        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q12" onclick="traloi[12]='A'">
        a. 2
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q12" onclick="traloi[12]='B'">
        b. 3
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q12" onclick="traloi[12]='C'">
        c. 4
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q12" onclick="traloi[12]='D'">
        D. 5
    </p>

    <div id="DapAn12"></div>
</div>
<div class="question">
    <h3 id="13">
        <b>
            <span>13. </span>
            Nguyên tắc lãnh đạo cao nhất của đảng ta là gì ?

        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q13" onclick="traloi[13]='A'">
        a.  Tập trung dân chủ
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q13" onclick="traloi[13]='B'">
        b.  Tập thể lãnh đạo, cá nhân phụ trách
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q13" onclick="traloi[13]='C'">
        c.  Tự phê bình và phê bình
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q13" onclick="traloi[13]='D'">
        d.  Gắn bó mật thiết với nhân dân
    </p>

    <div id="DapAn13"></div>
</div>
<div class="question">
    <h3 id="14">
        <b>
            <span>14. </span>
            Đảng Cộng sản Việt Nam lấy …………… làm quy luật phát triển?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q14" onclick="traloi[14]='A'">
        a. Tự chỉnh đốn
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q14" onclick="traloi[14]='B'">
        b. Tự đấu tranh
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q14" onclick="traloi[14]='C'">
        c. Tự phê bình và phê bình
    </p>
    <p>
    <input class="checkBox" type="radio" value="v4" name="q14" onclick="traloi[14]='D'">
    d. Tự soi, tự sửa
    </p>

    <div id="DapAn14"></div>
</div>
<div class="question">
    <h3 id="15">
        <b>
            <span>15. </span>
            Điều lệ Đảng là văn bản có ý nghĩa như thế nào?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q15" onclick="traloi[15]='A'">
        a.  Văn bản quan trọng của Đảng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q15" onclick="traloi[15]='B'">
        b.  Văn bản pháp lý cơ bản của Đảng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q15" onclick="traloi[15]='C'">
        c.  Văn bản  quyết định của Đảng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q15" onclick="traloi[15]='D'">
        d.  Văn bản hàng đầu của Đảng
    </p>

    <div id="DapAn15"></div>
</div>
<div class="question">
    <h3 id="16">
        <b>
            <span>16. </span>
            Cấp ủy viên có mấy tiêu chuẩn?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q16" onclick="traloi[16]='A'">
        a. 3
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q16" onclick="traloi[16]='B'">
        b. 4
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q16" onclick="traloi[16]='C'">
        c. 5
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q16" onclick="traloi[16]='D'">
        d. 6
    </p>


    <div id="DapAn16"></div>
</div>
<div class="question">
    <h3 id="17">
        <b>
            <span>17. </span>
            Sinh hoạt chi bộ gồm những hình thức nào?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q17" onclick="traloi[17]='A'">
        a. Sinh hoạt chính trị; học tập; tự phê bình và phê bình
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q17" onclick="traloi[17]='B'">
        b. Sinh hoạt chính trị; học tập; kiểm tra, giám sát
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q17" onclick="traloi[17]='C'">
        c. Sinh hoạt dân chủ, học tập, tự phê bình và phê bình
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q17" onclick="traloi[17]='D'">
        d.  Sinh hoạt lãnh đạo, học tập, tự phê bình và phê bình
    </p>

    <div id="DapAn17"></div>
</div>
<div class="question">
    <h3 id="18">
        <b>
            <span>18. </span>
            Cấp ủy viên đương nhiệm khi chuyển công tác thì thôi tham gia cấp ủy đương nhiệm ở đảng bộ, chi bộ đó?

        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q18" onclick="traloi[18]='A'">
        a. Đúng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q18" onclick="traloi[18]='B'">
        b. Sai
    </p>

    <div id="DapAn18"></div>
</div>
<div class="question">
    <h3 id="19">
        <b>
            <span>19. </span>
            Chức năng của Ban Bí thư là gì?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q19" onclick="traloi[19]='A'">
        a. Lãnh đạo công việc thường xuyên của Đảng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q19" onclick="traloi[19]='B'">
        b. Giúp việc cho Tổng Bí thư
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q19" onclick="traloi[19]='C'">
        c. Lãnh đạo công việc hàng ngày của Đảng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q19" onclick="traloi[19]='D'">
        d. Giúp việc cho Ban Chấp hành Trung ương
    </p>


    <div id="DapAn19"></div>
</div>
<div class="question">
    <h3 id="20">
        <b>
            <span>20. </span>
            Chi ủy, tổ đảng là tổ chức đảng?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q20" onclick="traloi[20]='A'">
        a.  Đúng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q20" onclick="traloi[20]='B'">
        b. Sai
    </p>

    <div id="DapAn20"></div>
</div>

<div class="question">
    <h3 id="21">
        <b>
            <span>21. </span>
            Trong các nội dung công tác quản lý đảng viên của chi bộ thì nội dung nào là quan trọng hàng đầu?
        </b>
    </h3>
    <p>
        <input class="checkBox" type="radio" value="v1" name="q21" onclick="traloi[21]='A'">
        a. Quản lý về chính trị, tư tưởng
    </p>
    <p>
        <input class="checkBox" type="radio" value="v2" name="q21" onclick="traloi[21]='B'">
        b. Quản lý về sinh hoạt và quan hệ xã hội
    </p>
    <p>
        <input class="checkBox" type="radio" value="v3" name="q21" onclick="traloi[21]='C'">
        c. Quản lý về trình độ, năng lực công tác
    </p>
    <p>
        <input class="checkBox" type="radio" value="v4" name="q21" onclick="traloi[21]='D'">
        d. Quản lý đội ngũ đảng viên
    </p>

    <div id="DapAn21"></div>
</div>
