@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model MvcWEB.Models.KetQuaModel

@{
    var currentSession = Session["examSession"] as MvcWEB.Code.UserSession;
}
    <div id="begin" class="fullScr">
        <input type="button" value="Bắt đầu" onclick="begin()">
    </div>

    <div id="container">
        @RenderBody()
        @*<div class="btndone" id="done">
            <input type="button" value="Làm xong" onclick="LamXong()">
        </div>*@
        <div class="btndone" id="check">
            <input type="button" value="Kiểm tra" onclick="Kiemtra()">
        </div>

        @using (Html.BeginForm())
        {
            <fieldset>
                <div class="form-group hidden">
                    @Html.TextBoxFor(model => model.IDQN, new { @class = "form-control", Value = currentSession.ID })
                </div>
                <div class="form-group hidden">
                    @Html.TextBoxFor(model => model.DeSo, new { @class = "form-control", Value = currentSession.DeSo })
                </div>
                <div class="form-group hidden">
                    @Html.TextBoxFor(model => model.TraLoi, new { @class = "form-control" })
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <div class="btndone" id="done">
                    <button type="submit" class="btn btn-lg btn-success btn-block" id="done" onclick="LamXong()">
                        Làm xong
                    </button>
                </div>
                
            </fieldset>
        }
    </div>
    @*<div class="ketqua" id="ketqua">
        <div class="resultButton" id="resultButton" onclick="hideRightPanel();">
            <i id="resultButtonLabel" class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>*
        <p class="PanelHeader">Kết quả</p>
        <p>Tổng số câu: 100 </p>
        <p>Số câu đúng: <span id="trueNumber"></span></p>
        <p>Điểm: <span id="mark"></span></p>
        <p>Xếp loại: <span id="qualtity"></span></p>
    </div>*@
    <div class="checkedTracking" id="checkedTracking">
        @*<div class="trackingButton" id="trackingButton" onclick="hideLeftPanel();">
            <i id="trackingButtonLabel" class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>*@
        <p class="PanelHeader">Các câu chưa chọn:</p>
        <ul id="uncheckList"></ul>
        <div class="btndone" id="check">
            <input type="button" value="Kiểm tra" onclick="Kiemtra()">
        </div>
    </div>
    <div id="timeout" class="fullScr">
        <p>Hết giờ!</p>
    </div>
    <div id="countdown" class="countdownClock hidden">
        <span id="timer">60:00</span>
    </div>
    @*<div class="nav" id="mobile-nav">
        <p style="color: white; text-align: center; font-size: 14px; margin: 1px; padding-left: 0px;">Ôn tập kiểm tra trắc nghiệm</p>
        <div class="navBtn" onclick="Kiemtra_Mobile()">
            <i id="navButtonLabel" class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>*@



