@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Display user exam result">
    <meta name="author" content="Đặng Nguyễn Thế Hưng">
    <title>Result Page</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/Client/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Assets/Client/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/Client/dist/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/Result.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm hidden-xs" href="#">KiemTraChinhTri v2.0</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right hidden-sm hidden-xs">
                <li class="dropdown logout">
                    @Html.ActionLink("Đăng xuất", "Logout", "Login")
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>

    </div>
    <!-- /#wrapper -->
    <!-- .Container-->
    <div class="container">
        @RenderBody()
    </div>
    
    <!-- /.Container-->
    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/Client/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/Client/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
